<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
</head>
<body>
    <h1>Movies Results List</h1>

    <a href="/">Back</a>

    <ol>
        <% data["Search"].forEach(movie => { %>
            <li>
                <strong><%= movie["Title"] %></strong> (<%= movie["Type"] %>) - <%= movie["Year"] %>
                <ul>
                    <% let id = movie["imdbID"] %>
                    <% if (details[id]) { %>
                        <li>Released: <%= details[id]["Released"] %></li>
                        <li>Rated: <%= details[id]["Rated"] %></li>
                        <li>Genres: <%= details[id]["Genre"] %></li>
                        <li>Runtime: <%= details[id]["Runtime"] %></li>
                    <% } %>
                </ul>
            </li>
        <% }) %>
    </ol>
</body>
</html>