<% include ../partials/header %>

<div class="container">
    <!-- Jumbotron header -->
    <header class="jumbotron" id="campgroundJumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Campgrounds</h1>
            <p>View the best campgrounds from all over the world!</p>
            <div>
                <a class="btn btn-primary btn-md" href="/campgrounds/new">Add New Campground</a>

                <!-- Search bar -->
                <!-- form-inline float-right -->
                <form class="form-inline float-md-right mt-2 mt-md-0" action="/campgrounds" method="GET">
                    <div class="form-row mb-0">
                        <div class="col">
                            <input class="form-control" type="text" name="search" placeholder="Search Campgrounds">
                        </div>

                        <div class="col">
                            <input class="btn btn-warning" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <!-- Make rows of campgrounds -->
    <div class="row">
        <!-- No campgrounds found message -->
        <% if (campgrounds.length < 1) { %>
            <div class="col-12">
                <div class="card" id="noCampgroundCard">
                    <div class="card-body">
                        <h5>No campgrounds found</h5>
                    </div>
                </div>
            </div>
        <% } %>

        <% campgrounds.forEach(campground => { %>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <img class="index card-img-top img-fluid" src="<%= campground.image %>">
                    <div class="card-body">
                        <h4 class="card-title"><%= campground.name %></h4>
                        <p class="card-text">
                            <% if (campground.description) { %>
                                <%= campground.description.substring(0, 100) %><% if (campground.description.length > 100) { %>...<%} %>
                            <% } else { %>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi quos dignissimos quam aut ipsa numquam provident sint minus alias.
                            <% } %>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-warning btn-md">Visit</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <!-- Pages -->
    <div class="row justify-content-center mb-2">
        <% if (totalPages && totalPages > 0) { %>
            <ul class="pagination">
                <!-- 'First' and previous arrow buttons -->
                <% if (currPage === 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/campgrounds<%if(search){%>&search=<%=search%><%}%>">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/campgrounds?page=<%= currPage - 1 %><%if(search){%>&search=<%=search%><%}%>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                <% } %>

                <!-- Variable to show page numbers, currently +-2 from current page -->
                <% let i = currPage > 3 ? currPage - 2 : 1 %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                <% } %>

                <!-- Loop to show pages +-2 from current -->
                <% for (; i <= currPage + 2 && i <= totalPages; i++) { %>
                    <% if (i === currPage) { %>
                        <li class="page-item active">
                            <a class="page-link"><%= i %></a>
                        </li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a>
                        </li>
                    <% } %>

                    <% if (i === currPage + 2 && i < totalPages) { %>
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    <% } %>
                <% } %>
                
                <!-- Next arrow and 'Last' buttons -->
                <% if (currPage === totalPages) { %>
                    <li class="page-item disabled">
                        <a class="page-link" href="/campgrounds?page=<%= currPage + 1 %><%if(search){%>&search=<%=search%><%}%>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">Last</a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/campgrounds?page=<%= currPage + 1 %><%if(search){%>&search=<%=search%><%}%>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/campgrounds?page=<%= totalPages %><%if(search){%>&search=<%=search%><%}%>">Last</a>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>